/* Init variable css */

:root {
    --bg-color-header: rgba(255, 255, 255, 0.15);
    --bg-color: linear-gradient(to top, #071952, #A076F9);
    --btn-color-start: #141E46;
    --btn-color-start-hover: #213555;
    --text-btn-color: #FFF5E0;
    --btn-bg-color-start: #EDE4FF;
    --btn-bg-color-ans: #FEFFAC;
    --bg-ans-true: #45FFCA;
    --bg-ans-false: #C70039;
    --bg-ans-hover: #FFDEB9;
}

/* Format pages */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set Background for page main */
.result__announcement,
.gamePage,
.homePage {
    background: var(--bg-color);
    height: 100vh;
    position: relative;
}

/* Canh chỉnh menu */
#header .nav .nav-item {
    min-width: 100px;
    text-align: center;
    width: fit-content;
}

#header .nav .nav-item:hover {
    color: var(--text-btn-color);
    cursor: pointer;
}

.nav-item--active {
    color: var(--text-btn-color);
    width: fit-content;
    position: relative;
}

.nav-item--active::after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -5px;
    left: 0;
    background: var(--btn-color-start);
    box-shadow: 0px 2px 5px var(--text-btn-color);
}

a {
    color: var(--btn-color-start);
    text-decoration: none;
}

.header {
    position: fixed;
    height: max-content;
    top: 0;
}

.header .header__logo--img {
    height: 120px;
}

/* Logo lớn tại trung tâm trang */

.homePage__logo {
    width: 500px;
    margin-top: 180px;
}

/* Xử lý button */
.btn {
    font-size: 28px;
    color: var(--text-btn-color);
    padding: 10px 0;
}

.btn.btn-start {
    background: var(--btn-color-start);
    box-shadow: 0px 0px 10px var(--text-btn-color);
    letter-spacing: 2px;
}

.btn.btn-start:hover {
    color: var(--text-btn-color);
    background: var(--btn-color-start-hover);
}

/* Trang chinh phục thử thách */
#result__announcement--header,
#gamePage__header {
    position: fixed;
    left: 0;
    right: 0;
}

#gamePage__header .header__logo--img {
    height: 100px;
    width: auto;
}

#gamePage__header.row {
    margin: 0;
    padding: 10px 0;
}

.challenge {
    padding-top: 140px;
}

.board {}

.board__question {
    min-height: 500px;
    background: var(--text-btn-color);
    border-radius: 10px;
    padding: 20px 30px;
    font-size: 20px;
}


.board__answer {
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
}

.board__answer .btn--ans {
    min-height: 60px;
    background: var(--btn-bg-color-ans);
    color: var(--btn-color-start);
    font-size: 18px;
}

.board__answer .btn--ans:hover {
    background: var(--bg-ans-hover);
}

/* Xử lý các đán án đúng sai */

.btn--ans-true {
    background: var(--bg-ans-true) !important;
}

.btn--ans-false {
    background: var(--bg-ans-false) !important;
}

/* Trang hiển thị kết quả thi */



#result__announcement--header {
    margin: 0;
}

.board__result {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board__content {
    width: 400px;
    height: 500px;
    padding: 40px 30px;
    background: var(--bg-ans-hover);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.board__content .row,
.board__content .col {
    padding: 0;
    margin: 0;
}

.board__content--heder {
    width: 100%;
    font-size: 28px;
    font-weight: 800;
    font-style: italic;
    background: var(--btn-bg-color-start);
    border-radius: 10px;
}

.board__content--contents {
    text-align: center;
}

.board__content--show {}

.board__content--footer {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    width: 100%;
    background: var(--btn-color-start);
    color: var(--text-btn-color);
    padding: 10px 0;
    border-radius: 10px;
}

.board__content--footer i.icon-home {
    font-size: 40px;
}

.board__content--footer p {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
}

.btn.board__content--footer:hover {
    background: var(--btn-color-start-hover);
    color: var(--btn-bg-color-start);
}